.reminders-list-container h2 {
  color: #a1a6af;
  font-size: 1.5rem;
  padding: 1rem;
}

.reminders-list-container {
  background-color: #233244;
  height: 100%;
  width: 30vw;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reminders-list-container .reminder {
  display: flex;
  align-items: center;
  margin: 15px;
  padding: 7px 0;
  justify-content: space-between;
  border-radius: 15px;
}

.reminders-list-container .active {
  background-color: #1285ff !important;
}
.reminders-list-container .active:hover {
  background-color: #1285ff !important;
}

.reminders-list-container .active h4 {
  color: #fefeff !important;
}

.reminders-list-container .reminder .left-reminder-div {
  display: flex;
  align-items: center;
}

.reminders-list-container .reminder .right-reminder-div {
  display: flex;
  align-items: center;
}

.reminders-list-container .reminder:hover {
  cursor: pointer;
  background-color: #435060;
}

.reminders-list-container .reminder h3 {
  color: #fefeff;
  font-weight: 300;
}

.reminders-list-container .reminder h4 {
  color: #a1a6af;
  font-weight: 300;
  margin-right: 15px;
}

.reminders-list-container .reminder .reminder-logo {
  background: url("../../assets/apple-reminders.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.add-new-list {
  bottom: 10px;
  color: #9fa2ae;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.add-new-list input {
  background-color: #424f5e;
  padding: 5px;
  border: none;
  border-radius: 10px;
  width: 80%;
  margin: 10px;
  outline: #424f5e;
  color: #1285ff;
  font-size: 1rem;
}

.add-new-list .add-icon {
  background: url("../../assets/plus-icon.png");
  background-size: cover;
  height: 25px;
  width: 25px;
  margin-right: 10px;
  border: none;
}

.add-new-list .add-icon:hover {
  cursor: pointer;
}
