<div class="reminders-list-container">
  <div class="reminders-list">
    <h2>My Lists</h2>
    <div
      *ngFor="let reminder of remindersList"
      class="reminder"
      [ngClass]="{ active: activeList == reminder }"
      (click)="handleReminderClick(reminder)"
    >
      <div class="left-reminder-div">
        <div class="reminder-logo"></div>
        <h3>{{ reminder.name }}</h3>
      </div>
      <div class="right-reminder-div">
        <h4>{{ reminder.length }}</h4>
      </div>
    </div>
  </div>
  <form
    class="add-new-list"
    [formGroup]="addListForm"
    (ngSubmit)="handleSubmit()"
  >
    <input type="text" formControlName="name" />
    <button class="add-icon"></button>
  </form>
</div>
